Repository antlr/stringtemplate4, pull requests merged in 2018-11, with the labels that each got.

#149 Add warning for unsupported delimiter characters
  src/org/stringtemplate/v4/STGroup.java
  src/org/stringtemplate/v4/compiler/Group.g
  src/org/stringtemplate/v4/misc/ErrorType.java
  test/org/stringtemplate/v4/test/TestGroupSyntax.java
Labels: code review

#152 Fix handling of indented comment at end of template
  src/org/stringtemplate/v4/compiler/CodeGenerator.g
  test/org/stringtemplate/v4/test/TestGroupSyntax.java
Labels: code review

#153 Fix parsing of IDs in templates
  src/org/stringtemplate/v4/compiler/CodeGenerator.g
  src/org/stringtemplate/v4/compiler/STLexer.java
  src/org/stringtemplate/v4/compiler/STLexer.tokens
  src/org/stringtemplate/v4/compiler/STParser.g
  test/org/stringtemplate/v4/test/TestTemplateNames.java
Labels: code review

#154 Fix handling of newline at beginning of literal template
  src/org/stringtemplate/v4/Interpreter.java
  test/org/stringtemplate/v4/test/TestWhitespace.java
Labels: type:bug

#156 Add error PARAMETER_DEFINITION and report where applicable
  src/org/stringtemplate/v4/compiler/CodeGenerator.g
  src/org/stringtemplate/v4/compiler/CompiledST.java
  src/org/stringtemplate/v4/compiler/Group.g
  src/org/stringtemplate/v4/misc/ErrorType.java
  test/org/stringtemplate/v4/test/TestGroupSyntaxErrors.java
Labels: code review

#195 Enhancement to support loading template in multiple thread
  contributors.txt
  src/org/stringtemplate/v4/STGroupFile.java
  src/org/stringtemplate/v4/STGroupString.java
  test/org/stringtemplate/v4/test/TestGroups.java
Labels: type:enhancement
